In [1]:
import pandas as pd

In [2]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)
df

    국어  영어  수학
춘향  80  90  90
몽룡  90  70  60
향단  70  60  80
방자  30  40  70

In [3]:
#(1) 모든 학생의 수학 점수를 시리즈로 나타낸다.
df["수학"]

춘향    90
몽룡    60
향단    80
방자    70
Name: 수학, dtype: int64

In [4]:
#(2) 모든 학생의 국어와 영어 점수를 데이터 프레임으로 나타낸다.
df[["국어","영어"]]

    국어  영어
춘향  80  90
몽룡  90  70
향단  70  60
방자  30  40

In [6]:
#(3) 모든 학생의 각 과목 평균 점수를 새로운 열로 추가한다.
df["평균 점수"] = df.mean(axis =1)
df

    국어  영어  수학      평균 점수
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  40  70  46.666667

In [7]:
#(4) 방자의 영어 점수를 80점으로 수정하고 평균 점수도 다시 계산한다.
df["영어"]["방자"] = 80
df["평균 점수"] = df.mean(axis =1)
df

C:\Users\cocom\AppData\Local\Temp\ipykernel_18904\4230916567.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["영어"]["방자"] = 80

    국어  영어  수학      평균 점수
춘향  80  90  90  86.666667
몽룡  90  70  60  73.333333
향단  70  60  80  70.000000
방자  30  80  70  56.666667

In [9]:
#(5) 춘향의 점수를 데이터프레임으로 나타낸다.
df.loc[["춘향"]]

    국어  영어  수학      평균 점수
춘향  80  90  90  86.666667

In [10]:
#(6) 향단의 점수를 시리즈로 나타낸다.
df.loc["향단"]

국어       70.0
영어       60.0
수학       80.0
평균 점수    70.0
Name: 향단, dtype: float64