In [1]:
a = 123
a = -178
a = 0

In [2]:
a = 1.2
a = -3.45

In [5]:
a = 4.24E10
a = 4.24e-10
a

4.24e-10

In [4]:
a = 0o177
print(a)

127

In [7]:
a = 0x8ff
b = 0xABC
a, b

(2303, 2748)

# 사칙연산

In [8]:
a = 3
b = 4
a + b

7

In [9]:
a-b

-1

In [10]:
a*b

12

In [11]:
a/b

0.75

##제곱 연산

In [12]:
a = 3
b = 4
a**b

81

## 나눗셈 나머지 연산

In [13]:
7 % 3

1

In [14]:
3 % 7

3

## 나눗셈 몫 연산

In [15]:
7 / 4

1.75

In [16]:
7 // 4

1

# 문자열 자료형

In [17]:
"Hello World"

'Hello World'

In [18]:
Hello World

SyntaxError: invalid syntax (961555472.py, line 1)

In [19]:
'Hello World'

'Hello World'

In [20]:
"""Hello World"""

'Hello World'

In [21]:
'''Hello World'''

'Hello World'

## 문자열 안에 작은 따옴표나 큰 따옴표를 포함시키고 싶을 때

In [22]:
Python's favorite food is perl

SyntaxError: unterminated string literal (detected at line 1) (2917458957.py, line 1)

In [23]:
'Python's favorite food is perl'

SyntaxError: unterminated string literal (detected at line 1) (1974562179.py, line 1)

In [24]:
"Python's favorite food is perl"

"Python's favorite food is perl"

In [25]:
"Python is very easy." he says.

SyntaxError: invalid syntax (2498016959.py, line 1)

In [26]:
'"Python is very easy." he says.'

'"Python is very easy." he says.'

In [27]:
'Python\'s favorite food is perl.'

"Python's favorite food is perl."

In [28]:
"\"Python is very easy.\" he says."

'"Python is very easy." he says.'

In [29]:
"yulmoo\'s pqws have 2 colors"

"yulmoo's pqws have 2 colors"

In [2]:
multiline = "Life is too short \n You need python"

In [3]:
print(multiline)

Life is too short
 You need python

In [4]:
multiline="""
Life is too short
You need python
"""

In [5]:
multiline

'\nLife is too short\nYou need python\n'

In [6]:
print(multiline)

Life is too short
You need python

## 문자열 연산하기

In [7]:
head = "Python"
tail = " is fun"
head + tail

'Python is fun'

In [8]:
a = 'python'
a * 5

'pythonpythonpythonpythonpython'

In [9]:
print('='*50)

==================================================

In [10]:
a = "Life is too short"
len(a)

17

## 문자열 인덱싱

In [11]:
a = "Life is too short, You need Python"

In [12]:
a[3]

'e'

In [13]:
a[12]

's'

In [14]:
a[-1]

'n'

In [15]:
a[-7]

' '

## 문자열 슬라이싱

In [16]:
a = "Life is too short, You need Python"
a[0] +a[1]+a[2]+a[3]

'Life'

In [17]:
a[0:3]

'Lif'

In [18]:
a[0:4]

'Life'

In [21]:
a[8:17]

'too short'

In [23]:
a[0:4] == a[0:5]

False

In [24]:
a[19: ]

'You need Python'

In [25]:
a[:17]

'Life is too short'

In [26]:
a[:]

'Life is too short, You need Python'

In [28]:
a[19:-7]

'You need'

## 슬라이싱으로 문자열 나누기

In [30]:
a = "20240228Sunny"
date = a[:8]
weather = a[8:]
date, weather

('20240228', 'Sunny')

In [31]:
a = "20240228Sunny"
year = a[:4]
day = a[4:8]
weather = a[8:]
year, day, weather

('2024', '0228', 'Sunny')

In [33]:
# 문자열 수정하기
a = 'Pithon'
a[1] = 'y'
a

TypeError: 'str' object does not support item assignment

In [35]:
a = 'Pithon'
b = a[:1] + 'y' + a[2:]
b

'Python'

## 문자열 포매팅

In [36]:
# 숫자 바로 대입
"I eat %d apples"%3

'I eat 3 apples'

In [37]:
# 문자열 바로 대입
"I eat %s apples"%"five"

'I eat five apples'

In [38]:
"I eat %s apples"%"5"

'I eat 5 apples'

In [39]:
"I eat %d apples"%"삼"

TypeError: %d format: a real number is required, not str

In [40]:
# 숫자 값을 나타내는 변수로 대입
number = 3
"I eat %d apples"%number

'I eat 3 apples'

In [42]:
# 2개 이상의 값 넣기
number = 10
day = "three"
"I ate %d apples. so I was sick for %s days."%(number, day)

'I ate 10 apples. so I was sick for three days.'

In [43]:
"I ate %d apples. so I was sick for %s days."%(day, number)

TypeError: %d format: a real number is required, not str

In [44]:
"I eat %s apples"%3

'I eat 3 apples'

In [45]:
"오늘의 습도는 %d% 입니다."%70

TypeError: not enough arguments for format string

In [46]:
"오늘의 습도는 %d%% 입니다."%70

'오늘의 습도는 70% 입니다.'

## 포맷 코드와 숫자 함께 사용하기

In [48]:
# 정렬과 공백
"%10s" % "hi"

'        hi'

In [49]:
"%-10sjane." % "hi"

'hi        jane.'

## 소수점 표현하기(많이 사용)

In [50]:
"%0.4f" % 3.42134234

'3.4213'

In [51]:
"%10.4f" % 3.42134234

'    3.4213'

## format 함수를 사용한 포매팅

In [52]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [54]:
"I eat {} apples".format('five')

'I eat five apples'

In [55]:
nuber = 10
"I eat {} apples".format(number)

'I eat 10 apples'

In [57]:
number = 10
day = "three"
"I ate {} apples. so I was sick for {} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [58]:
"I ate {} apples. so I was sick for {} days.".format(day, number)

'I ate three apples. so I was sick for 10 days.'

In [59]:
"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [60]:
"I ate {number} apples. so I was sick for {day} days.".format(10, 3)

KeyError: 'number'

In [61]:
"I ate {number} apples. so I was sick for {day} days.".format(day=3, number=10)

'I ate 10 apples. so I was sick for 3 days.'

In [62]:
"{0:<10}".format("hi")

'hi        '

In [63]:
"{0:>10}".format("hi")

'        hi'

## 소수점 표현하기

In [64]:
y = 3.41234234
"{0:0.4f}".format(y)

'3.4123'

## f문자열 포매팅(강추)

In [66]:
name = '홍길동'
age = 30

f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [67]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [68]:
d = {'name':'홍길동', 'age':30}

f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

## 문자열 관련 함수들

In [69]:
# 문자 개수 세기 count
a = "hobby"
a.count('b')

2

In [70]:
#위치 알려주기 find
a = "Python is the best choice"
a.find('b')

14

In [71]:
a.find('k')

-1

In [72]:
# 위치 알려주기 index
a = "Life is too short"
a.index('t')

8

In [73]:
a.index('k')

ValueError: substring not found

In [75]:
# 문자열 삽입 join
a = 'abcd'
",".join(a)

'a,b,c,d'

In [76]:
a = ['a', 'b', 'c', 'd']
a

['a', 'b', 'c', 'd']

In [77]:
",".join(a)

'a,b,c,d'

In [ ]:
# 소문자를 대문자로 바꾸기 upper

In [78]:
a = 'hi'
a.upper()

'HI'

In [79]:
print?

In [80]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [81]:
#소문자 바꾸기
a = 'HI'
a.lower()

'hi'

In [82]:
# 왼쪽 공백 지우기 Lstrip
a = " hi "
a.lstrip()

'hi '

In [83]:
a.rstrip()

' hi'

In [84]:
a.strip()

'hi'

In [85]:
#문자열 바꾸기 replace

In [86]:
a = "Life is too short"
a.replace('Life','Your leg')

'Your leg is too short'

In [87]:
a

'Life is too short'

In [88]:
#문자열 나누기 split

In [2]:
a = 'Life is too short'
a.split()

['Life', 'is', 'too', 'short']

In [3]:
a.split?

In [91]:
b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

## 변수

In [92]:
a = 1
a, type(a)

(1, int)

In [93]:
b = 'python'
b, type(b)

('python', str)

In [94]:
c = [1, 2, 3]
c, type(c)

([1, 2, 3], list)

In [95]:
id(a)

140734767534888

In [106]:
# 문자열을 복사
a = [1, 2, 3]
b = a

In [100]:
id(a), id(b)

(2810102265472, 2810102265472)

In [98]:
a is b

True

In [101]:
del b

In [102]:
a

[1, 2, 3]

In [103]:
b

NameError: name 'b' is not defined

In [107]:
a = [1, 2, 3]
b = a

In [108]:
id(a), id(b)

(2810089509312, 2810089509312)

In [110]:
a[1] = 4

In [111]:
a

[1, 4, 3]

In [112]:
b

[1, 4, 3]

In [113]:
num1 = 10

In [115]:
num2 = num1
num1, num2

(10, 10)

In [116]:
num1 = 11
num1, num2

(11, 10)

In [117]:
a = [1,2.3]
b = a[:]
id(a), id(b)

(2810104150272, 2810102265536)

In [118]:
c = [1,2.3]
d = [1,2.3]
id(c), id(d)

(2810089753792, 2810103588992)

## copy

In [119]:
from copy import copy
a = [1, 2, 3]
a

[1, 2, 3]

In [120]:
b = copy(a)
id(a), id(b)

(2810102355904, 2810076111872)

In [121]:
b is a

False

## 변수를 만드는 다양한 방법

In [122]:
a, b =('python', 'life')

In [123]:
a

'python'

In [124]:
b

'life'

In [125]:
(a, b) = 'python', 'life'

In [126]:
[a, b] = 'python', 'life'

In [127]:
a, b

('python', 'life')

In [128]:
a = 3
b = 5

In [129]:
a, b = b, a

In [130]:
a, b

(5, 3)