# 파이썬 반복문

In [1]:
#151
리스트 = [3,-20,-3,44]
for i in 리스트:
    if i >= 0:
        continue
    else:
        print(i)

-20
-3

In [2]:
#152
리스트 = [3, 100, 23, 44]
for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [3]:
#153
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if i % 3 == 0 and i < 20:
        print(i)

12
18

In [4]:
#154
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [7]:
#155
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.isupper() == True:
        print(i)

A
D

In [8]:
#156
리스트 = ["A", "b", "c", "D"]
for i in 리스트:
    if i.islower() == True:
        print(i)

b
c

In [9]:
#157
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i.upper()[0]+i[1:])

Dog
Cat
Parrot

In [13]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    j = i.split(".")
    print(j[0])

hello
ex01
intro

In [16]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    j = i.split(".")
    if j[-1] == 'h':
        print(i)

intra.h
define.h

In [2]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    j = i.split(".")
    if j[-1] == 'h' or j[-1] == 'c':
        print(i)

intra.h
intra.c
define.h

In [ ]:
#161
for i in range(0,100):
    print(i)

In [4]:
#162
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [5]:
#163
for i in range(1, 31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [6]:
for i in range(3, 31,3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
#164
for num in range(0, 100):
    print(99-num)

In [ ]:
for i in range(99, -1, -1):
    print(i)

In [12]:
#165
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [13]:
for i in range(10):
    print(i * 0.1)
# 왜 3이랑 6이나 이런데서 이상하게 나오지?

0.0
0.1
0.2
0.30000000000000004
0.4
0.5
0.6000000000000001
0.7000000000000001
0.8
0.9

In [16]:
#166
for i in range(1,10):
    print(f"3x{i} =", 3*i)

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [18]:
#167
for i in range(1,10,2):
    print(f"3x{i} =", 3*i)

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [20]:
#168
add = 0
for i in range(1, 11):
    add += i

print("합 :",add)

합 : 55

In [21]:
#169
add = 0
for i in range(1, 11,2):
    add += i

print("합 :",add)

합 : 25

In [37]:
#170
multi = 1
for i in range(1,11):
    multi = multi * i
print(multi)

3628800

In [30]:
#171
price_list = [32100, 32150, 32000, 32500]

for i in range(0,4):
    print(price_list[i])

32100
32150
32000
32500

In [31]:
#172
price_list = [32100, 32150, 32000, 32500]

for i in range(0,4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [38]:
price_dict = {}
price_list = [32100, 32150, 32000, 32500]

for i in range(0,4):
    price_dict[i] = price_list[i]
for i in price_dict.keys():
    print(i, price_dict[i])

0 32100
1 32150
2 32000
3 32500

In [41]:
#173
price_list = [32100, 32150, 32000, 32500]

for i in range(0,4):
    print(3-i, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [42]:
#174
price_list = [32100, 32150, 32000, 32500]

for i in range(1,4):
    print(100+(i-1)*10, price_list[i])

100 32150
110 32000
120 32500

In [44]:
#175
my_list = ["가", "나", "다", "라"]

for i in range(3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [45]:
#176
my_list = ["가", "나", "다", "라", "마"]

for i in range(3):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [50]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(3,0,-1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [51]:
#178
my_list = [100, 200, 400, 800]
for i in range(3):
    print(int(my_list[i+1])-int(my_list[i]))

100
200
400

In [53]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]

for i in range(4):
    print((int(my_list[i+1])+int(my_list[i])+int(my_list[i+2]))/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [59]:
#180
volatility = []
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

for i in range(5):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [60]:
#181
apart = [["101호", "102호"], ["201호", "202호"], ["301호", "302호"]]

In [61]:
#182
stock = [["시가", 100, 200, 300], ["종가", 80, 210, 330]]

In [62]:
#183
stock = {"시가" : [100, 200, 300], "종가" : [80, 210, 330]}

In [63]:
#184
stock = {"10/10" : [80, 110, 70, 90], "10/11" : [210, 230, 190, 200]}

In [65]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[i][j],"호")

101 호
102 호
201 호
202 호
301 호
302 호

In [66]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[2-i][j],"호")

301 호
302 호
201 호
202 호
101 호
102 호

In [67]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[2-i][j-1],"호")

302 호
301 호
202 호
201 호
102 호
101 호

In [68]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[i][j],"호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [69]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[i][j],"호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [70]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(3):
    for j in range(2):
        print(apart[i][j],"호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [72]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [74]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j*1.00014)
    print("----")

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [75]:
#193
result = []
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        result.append(j*1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [87]:
#194
result = []
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    sub = []
    result.append(sub)
    for j in i:
        sub.append(j*1.00014)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [92]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    print(i[3])

100
190
310

In [93]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > 150:
        print(i[3])

190
310

In [94]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3]>=i[0]:
        print(i[3])

100
310

In [96]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for i in ohlc[1:]:
    volatility.append(i[1]-i[2])
print(volatility)

[40, 30, 10]

In [97]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1:]:
    if i[3] > i[0]:
        print(i[1]-i[2])

10

In [104]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
p = []
for i in ohlc[1:]:
    p.append(i[3]-i[0])
print(sum(p))

0