# 파이썬 분기문

101. 파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

In [1]:
# bool 타입이다.

102. 아래 코드의 출력 결과를 예상하라

print(3 == 5)

In [2]:
# 3은 5가 아니기 때문에 False가 출력될 것이다.

103. 아래 코드의 출력 결과를 예상하라

print(3 < 5)

In [3]:
# 3은 5보다 작기 때문에 True 출력됨

104. 아래 코드의 결과를 예상하라.

x = 4
print(1 < x < 5)

In [4]:
# 4는 1과 5 사이에 있기 때문에 True 출력됨

105. 아래 코드의 결과를 예상하라.

print ((3 == 3) and (4 != 3))

In [5]:
# 둘 다 참이여서 True가 출력됨

106. 아래 코드에서 에러가 발생하는 원인에 대해 설명하라.

print(3 => 4)

In [6]:
# =>이러 연산자는 없음. >= 이거나 <= 이여야 함.

107. 아래 코드의 출력 결과를 예상하라

if 4 < 3:   
    print("Hello World")

In [7]:
# 4<3이 False니까 아무것도 발생하지 않는다.

108. 아래 코드의 출력 결과를 예상하라

if 4 < 3:   
    print("Hello World.")   
else:   
    print("Hi, there.")

In [8]:
# 조건을 만족하지 않아. "Hi, there."이 출력됨

109. 아래 코드의 출력 결과를 예상하라

if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")

In [9]:
# 조건을 만족하여
#1   
#2   
#4   
#가 출력됨

110. 아래 코드의 출력 결과를 예상하라

if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")

In [10]:
#조건을 만족하여
#3   
#5   
#가 출력됨

111. 사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.

>> 안녕하세요
안녕하세요안녕하세요

In [11]:
print(input()*2)

안녕하세요
안녕하세요안녕하세요

112. 사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.

>> 숫자를 입력하세요: 30

In [13]:
number = input("숫자를 입력하세요: ")
print(int(number)+10)

숫자를 입력하세요: 30
40

113. 사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.

>> 30
짝수

In [14]:
number = input("숫자를 입력하세요: ")
if int(number) % 2 == 1:
    print("홀수")
else:
    print("짝수")

숫자를 입력하세요: 30
짝수

114. 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라.    
단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

In [16]:
number = input("숫자를 입력하세요: ")
if int(number) < 255:
    print(int(number)+20)
else :
    print(255)

숫자를 입력하세요: 300
255

115. 사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

In [5]:
number = input("숫자를 입력하세요: ")
if int(number)-20 >= 255:
    print(255)
elif int(number)-20 <= 0:
    print(0)
else:
    print(int(number)-20)

숫자를 입력하세요: 280
255

116. 사용자로부터 입력 받은 시간이 정각인지 판별하라.

>> 현재시간:02:00
정각 입니다.
>> 현재시간:03:10
정각이 아닙니다

In [7]:
time = input("현재 시간 : ")
if time[-2:] == "00":
    print("정각입니다.")
else : 
    print("정각이 아닙니다.")

현재 시간 : 8:00
정각입니다.

117. 사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = ["사과", "포도", "홍시"]

In [13]:
a = input("좋아하는 과일은? ")
fruit = ["사과", "포도", "홍시"]
if a in fruit:
    print("정답입니다.")
else : 
    print("오답입니다.")

좋아하는 과일은? 바나나
오답입니다.

118. 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.

warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

In [9]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
stock = input("종목을 입력하세요: ")
if stock in warn_investment_list:
    print("투자 경고 종목입니다.")
else : 
    print("투자 경고 종목이 아닙니다.")

종목을 입력하세요: LG
투자 경고 종목입니다.

119. 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

In [14]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
season = input("제가 좋아하는 계절은: ")
if season in fruit.keys():
    print("정답입니다.")
else:
    print("오답입니다.")

제가 좋아하는 계절은: 겨울
오답입니다.

120. 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

In [16]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
season = input("좋아하는 과일은? ")
if season in fruit.values():
    print("정답입니다.")
else:
    print("오답입니다.")

좋아하는 과일은? 토마토
정답입니다.

121. 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.

In [20]:
a = input("영문자 한글자를 입력하시오: ")
if a.islower():
    print(a.upper())
else:
    print(a.lower())

영문자 한글자를 입력하시오: B
b

122. 점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

In [21]:
score = input("score: ")
if int(score) > 80:
    print("grade is A")
elif 80>=int(score)>60:
    print("grade is B")
elif 60>=int(score)>40:
    print("grade is C")
elif 40>=int(score)>20:
    print("grade is D")
else:
    print("grade is E")

score: 50
grade is C

123. 사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

In [23]:
환율 = {'달러': 1167, '엔': 1.096, '유로': 1268, '위안': 171}
won = input("입력: ")
num, currency = won.split()
print(float(num) * 환율[currency], '원')

입력: 100 달러
116700.0 원

124. 사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.

In [24]:
num1 = input("input number1: ")
num2 = input("input number2: ")
num3 = input("input number3: ")
if int(num1) > int(num2) and int(num1) > int(num3):
    print(int(num1))
elif int(num2) > int(num1) and int(num2) > int(num3):
    print(int(num2))
else:
    print(int(num3))

input number1: 50
input number2: 40
input number3: 70
70

125. 휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

In [27]:
phone = input("휴대전화 번호 입력: ")
num = phone[0:3]

if num == "011":
    tel = "SKT"
elif num == "016":
    tel = "KT"
elif num == "019":
    tel = "LGU"
else :
    tel = "알수없음"
print(f"당신은 {tel} 사용자입니다.")

휴대전화 번호 입력: 011-345-1922
당신은 SKT 사용자입니다.

126. 우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.   
사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라

In [29]:
num = input("우편번호: ")
if 2>=int(num[2])>=0:
    print("강북구")
elif 5>=int(num[2])>=3:
    print("도봉구")
else:
    print("노원구")

우편번호: 01400
도봉구

127. 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

In [30]:
rrn = input("주민등록 번호: ")
if int(rrn[7]) in [1, 3]:
    print("남자")
else:
    print("여자")

주민등록 번호: 821010-1635210
남자

128. 주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

In [32]:
rrn = input("주민등록 번호: ")
if int(rrn[8:10]) <= 8:
    print("서울 입니다.")
else :
    print("서울이 아닙니다.")

주민등록 번호: 861010-1015210
서울 입니다.

129. 다음과 같이 사용자로부터 주민등록번호를 입력받은 후 주민등록번호가 유효한지를 출력하는 프로그램을 작성하라.

In [33]:
rrn = input("주민등록 번호: ")
num = (int(rrn[0])*2+int(rrn[1])*3+int(rrn[2])*4+int(rrn[3])*5+int(rrn[4])*6+int(rrn[5])*7+int(rrn[7])*8+int(rrn[8])*9+int(rrn[9])*2+int(rrn[10])*3+int(rrn[11])*4+int(rrn[12])*5)%11
num2 = 11 - num

if num2 == int(rrn[-1]):
    print("유효한 주민등록번호입니다.")
else:
    print("유효하지 않은 주민등록번호입니다.")

주민등록 번호: 821010-1635210
유효하지 않은 주민등록번호입니다.

130. 아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

import requests   
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']   

btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.

In [34]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

변동폭 = float(btc['max_price']) - float(btc['min_price'])
시가 = float(btc['opening_price'])
최고가 = float(btc['max_price'])

if (시가+변동폭) > 최고가:
    print("상승장")
else:
    print("하락장")

상승장

131. for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]   
for 변수 in 과일:   
    print(변수)

In [35]:
#사과
#귤
#수박

132. for문의 실행결과를 예측하라.

과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

In [36]:
# '#####'이 한개씩 3번 나옴

133. 다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.

for 변수 in ["A", "B", "C"]:   
  print(변수)

In [38]:
print("A")
print("B")
print("C")

A
B
C

134. for문을 풀어서 동일한 동작을하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:   
  print("출력:", 변수)

In [39]:
변수 = "A"
print("출력:", 변수)
변수 = "B"
print("출력:", 변수)
변수 = "C"
print("출력:", 변수)

출력: A
출력: B
출력: C

135. for문을 풀어서 동일한 동작을 하는 코드를 작성하라.

for 변수 in ["A", "B", "C"]:   
  b = 변수.lower()   
  print("변환:", b)

In [40]:
변수 = "A"
b = 변수.lower()
print("변환:", b)
변수 = "B"
b = 변수.lower()
print("변환:", b)
변수 = "C"
b = 변수.lower()
print("변환:", b)

변환: a
변환: b
변환: c

136. 다음 코드를 for문으로 작성하라.

변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

In [41]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

137. 다음 코드를 for문으로 작성하라.

print(10)
print(20)
print(30)

In [42]:
for 변수 in [10, 20, 30]:
    print(변수)

10
20
30

138. 다음 코드를 for문으로 작성하라.

print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

In [43]:
for 변수 in [10, 20, 30]:
    print(변수)
    print("-------")

10
-------
20
-------
30
-------

139. 다음 코드를 for문으로 작성하라.

print("++++")
print(10)
print(20)
print(30)

In [45]:
print("++++")
for 변수 in [10, 20, 30]:
    print(변수)

++++
10
20
30

140. 다음 코드를 for문으로 작성하라.

print("-------")
print("-------")
print("-------")
print("-------")

In [47]:
for 변수 in [1,2,3,4]:
    print("-------")

-------
-------
-------
-------

141. 다음과 같이 판매가가 저장된 리스트가 있을 때 부가세가 포함된 가격을 for 문을 사용해서 화면에 출력하라. 단 부가세는 10원으로 가정한다.

리스트 = [100, 200, 300]

In [50]:
리스트 = [100, 200, 300]
for i in 리스트:
    print(i + 10)

110
210
310

142. for 문을 사용해서 리스트에 저장된 값을 다음과 같이 출력하라.

리스트 = ["김밥", "라면", "튀김"]

In [51]:
리스트 = ["김밥", "라면", "튀김"]
for i in 리스트:
    print("오늘의 메뉴: ", i)

오늘의 메뉴:  김밥
오늘의 메뉴:  라면
오늘의 메뉴:  튀김

143. 리스트에 주식 종목이름이 저장돼 있다.

리스트 = ["SK하이닉스", "삼성전자", "LG전자"]   
저장된 문자열의 길이를 다음과 같이 출력하라.

In [52]:
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]

for 종목 in 리스트:
    print(len(종목))

6
4
4

144. 리스트에는 동물이름이 문자열로 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']   
동물 이름과 글자수를 다음과 같이 출력하라.

In [53]:
리스트 = ['dog', 'cat', 'parrot']

for animal in 리스트:
    print(animal, len(animal))

dog 3
cat 3
parrot 6

145. 리스트에 동물 이름 저장돼 있다.

리스트 = ['dog', 'cat', 'parrot']   
for문을 사용해서 동물 이름의 첫 글자만 출력하라.

In [54]:
리스트 = ['dog', 'cat', 'parrot']
for animal in 리스트:
    print(animal[0])

d
c
p

146. 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]   
for문을 사용해서 다음과 같이 출력하라.

In [56]:
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 x", i)

3 x 1
3 x 2
3 x 3

147. 리스트에는 세 개의 숫자가 바인딩돼 있다.

리스트 = [1, 2, 3]   
for문을 사용해서 다음과 같이 출력하라.

In [58]:
리스트 = [1, 2, 3]
for i in 리스트:
    print(f"3 x {i} =", 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

148. 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]   
for문을 사용해서 다음과 같이 출력하라.   
 
나   
다   
라

In [60]:
리스트 = ["가", "나", "다", "라"]
a = 리스트[1:]
for i in a:
    print(i)

나
다
라

149.리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]   
for문을 사용해서 다음과 같이 출력하라.

가   
다

In [61]:
리스트 = ["가", "나", "다", "라"]
a = 리스트[::2]
for i in a:
    print(i)

가
다

150. 리스트에는 네 개의 문자열이 바인딩돼 있다.

리스트 = ["가", "나", "다", "라"]   
for문을 사용해서 다음과 같이 출력하라.

라   
다   
나   
가

In [62]:
리스트 = ["가", "나", "다", "라"]
for i in 리스트[::-1]:
    print(i)

라
다
나
가