## 파이썬 시작하기

1. 화면에 Hello World 문자열을 출력하세요.

In [1]:
print("Hello World")

Hello World

2. 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [3]:
print("Mary\'s cosmetics")

Mary's cosmetics

3. 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

신씨가 소리질렀다. "도둑이야".

In [4]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

4. 화면에 C:\Windows를 출력하세요.

In [5]:
print('C:\Windows')

C:\Windows

5.다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")

In [6]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [7]:
# \n은 줄바꿈 -> 안녕하세요 다음에 줄 바꿈이 됨
# \t는 탭 -> '만나서'와 '반갑습니다' 사이에 탭 간격이 들어감

6. print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print ("오늘은", "일요일")

In [9]:
# 튜플 형식으로 ("오늘은", "일요일")이라고 나올 것이라 예상됨
print("오늘은", "일요일")

오늘은 일요일

In [10]:
# 틀림. 
# print()하고 ","로 구분하면 여러 값 출력.

7. print() 함수를 사용하여 다음과 같이 출력하세요.

naver;kakao;sk;samsung

In [12]:
print("naver;kakao;sk;samsung")

naver;kakao;sk;samsung

In [13]:
#print 함수의 sep 인자를 사용하면 출력되는 값들 사이에 한 칸의 공백 대신 세미 콜론 출력됨
print("naver","kakao","sk","samsung", sep = ";")

naver;kakao;sk;samsung

8. print() 함수를 사용하여 다음과 같이 출력하세요.   
naver/kakao/sk/samsung

In [14]:
print("naver","kakao","sk","samsung", sep = "/")

naver/kakao/sk/samsung

9. 다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first");print("second")

In [21]:
print("first", end='');print("second")

firstsecond

10. 연산 결과 출력  
5/3의 결과를 화면에 출력하세요.

In [22]:
5/3

1.6666666666666667

## 파이썬 변수

11. 변수 사용하기   
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [25]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

12. 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

항목	값
시가총액	298조
현재가	50,000원
PER	15.79

In [26]:
시가총액 = 298000000000000
현재가 = 50000
PER = 15.79

print(시가총액)
print(현재가)
print(PER)

298000000000000
50000
15.79

13. 변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

>> s = "hello"
>> t = "python"
두 변수를 이용하여 아래와 같이 출력해보세요.

실행 예:
hello! python

In [27]:
s = "hello"
t = "python"

print(s+"!", t)

hello! python

14. 아래 코드의 실행 결과를 예상해보세요.

>> 2 + 2 * 3

In [28]:
# 8
2+2*3

8

15. type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

a = 128   
print (type(a))   
<class 'int'>   
아래 변수에 바인딩된 값의 타입을 판별해보세요.

a = "132"

In [29]:
#a의 타입은 문자열
a = "123"
print(type(a))

<class 'str'>

16. 문자열 '720'를 정수형으로 변환해보세요.

>> num_str = "720"

In [30]:
num_str = "720"
type(num_str)

str

In [38]:
int(num_str)

720

In [41]:
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

17. 정수 100을 문자열 '100'으로 변환해보세요.   
num = 100

In [44]:
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

18. 문자열 "15.79"를 실수(float)타입으로 변환해보세요.

In [45]:
a = "15.79"
b = float(a)
print(b, type(b))

15.79 <class 'float'>

19. year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

In [48]:
year = "2020"
year_int = int(year)
print(year_int-2,year_int-1, year_int)

2018 2019 2020

In [49]:
print(int(year)-3)
print(int(year)-2)
print(int(year)-1)

2017
2018
2019

20. 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [51]:
에어컨할부 = 48584
총금액 = 에어컨할부*36
print(총금액)

1749024

## 파이썬 문자열

21. letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.   
letters = 'python'

In [53]:
letters = 'python'
print(letters[0], letters[2])

p t

22. 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.   
license_plate = "24가 2210"

In [54]:
license_plate = "24가 2210"
print(license_plate[4:])

2210

23. 아래의 문자열에서 '홀'만 출력하세요.   
string = "홀짝홀짝홀짝"

In [56]:
string = "홀짝홀짝홀짝"
print(string[0],string[2],string[4])

홀 홀 홀

In [57]:
print(string[::2]) #슬라이싱할 때, '시작인덱스:끝 인덱스:오프셋'을 지정가능

홀홀홀

In [58]:
#슬라이싱 : 특정범위를 잘라서 자른 부위 전체를 가져오는 것.

#예시)

#리스트명[ 시작인덱스(숫자) : 끝인덱스(숫자) : 오프셋(숫자) ]

#시작인덱스부터 끝인덱스까지 슬라이싱한다.

#오프셋은 생략이 가능하며, 입력할 경우 해당 숫자만큼 건너뛰면서 계산한다.

 

#시작인덱스와 끝인덱스도 생략이 가능하다.

#시작인덱스 생략하면 맨처음부터, 끝인덱스 생략하면 맨마지막까지로 처리된다.

#인덱스에 음수값을 입력할 수도 있다.

#맨앞은 0번부터 시작하지만, 맨뒤는 -1부터 시작한다.

 

#시작인덱스와 끝인덱스를 생략하고 오프셋에 -1을 넣으면 뒤집어진다.

24. 문자열을 거꾸로 뒤집어 출력하세요.   
string = "PYTHON"

In [59]:
string = "PYTHON"
print(string[::-1])

NOHTYP

25. 아래의 전화번호에서 하이푼('-')을 제거하고 출력하세요.   
phone_number = "010-1111-2222"

In [69]:
phone_number = "010-1111-2222"
print(phone_number.replace('-',' '))

010 1111 2222

In [70]:
num_str = "720"

In [79]:
a = 'pithon'
print(a.replace('i','y'))

python

26. 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.

실행 예
01011112222

In [1]:
phone_number = "010-1111-2222"
print(phone_number.replace('-',''))

01011112222

27. 문자열 다루기   
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.

>> url = "http://sharebook.kr"
실행 예:
kr

In [2]:
url = "http://sharebook.kr"
print(url[-2:])

kr

In [3]:
url_split = url.split('.')
print(url_split[-1])

kr

28. 아래 코드의 실행 결과를 예상해보세요.   

lang = 'python'
lang[0] = 'P'
print(lang)

In [4]:
# 문자열은 원본 변경 불가능한 immutable object라 'python'이 출력 됨
# lang[0] = 'P'는 오류가 남

29. 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

string = 'abcdfe2a354a32a'

In [8]:
string = 'abcdfe2a354a32a'
string = string.replace('a','A')
print(string)

Abcdfe2A354A32A

30. 아래 코드의 실행 결과를 예상해보세요.

string = 'abcd'   
string.replace('b', 'B')   
print(string)

In [7]:
# 문자열의 원본은 바뀔 수 없기 때문에 'abcd' 그래도 출력 됨

31. 아래 코드의 실행 결과를 예상해보세요.

a = "3"   
b = "4"   
print(a + b)

In [9]:
# '34'가 출력 됨

32. 아래 코드의 실행 결과를 예상해보세요.

print("Hi" * 3)

In [11]:
# "HiHiHi" "Hi"가 3번 반복 됨

33. 화면에 '-'를 80개 출력하세요.

In [12]:
print('-'*80)

--------------------------------------------------------------------------------

34. 변수에 다음과 같은 문자열이 바인딩되어 있습니다.

t1 = 'python'   
t2 = 'java'   
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

실행 예:   
python java python java python java python java

In [16]:
t1 = 'python'
t2 = 'java'
print((t1+' '+t2+' ')*4)

python java python java python java python java

35. 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.

name1 = "김민수"    
age1 = 10   
name2 = "이철희"   
age2 = 13   
이름: 김민수 나이: 10   
이름: 이철희 나이: 13

In [21]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1,age1))
print("이름: %s 나이: %d" % (name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

36. 문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [26]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1,age1))
print("이름: {} 나이: {}".format(name2,age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

37. 파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [30]:
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

38. 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.

상장주식수 = "5,969,782,550"

In [31]:
상장주식수 = "5,969,782,550"
상장주식수2 = int(상장주식수.replace(",",""))
print(상장주식수2, type(상장주식수2))

5969782550 <class 'int'>

39.  다음과 같은 문자열에서 '2020/03'만 출력하세요.

분기 = "2020/03(E) (IFRS연결)"

In [35]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

40. 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.

data = "   삼성전자    "

In [37]:
data = " 삼성전자 "
data1 = data.strip()
print(data1)

삼성전자

41. 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.

ticker = "btc_krw"

In [38]:
ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

42. 다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.

ticker = "BTC_KRW"

In [39]:
ticker = "BTC_KRW"
ticker2 = ticker.lower()
print(ticker2)

btc_krw

43. 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [40]:
a = 'hello'
a1 = a.capitalize()
print(a1)

Hello

44. 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [44]:
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

45. 파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.

file_name = "보고서.xlsx"

In [49]:
file_name = "보고서.xlsx"
file_name.endswith(("xlsx","xls"))

True

46. 파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.

file_name = "2020_보고서.xlsx"

In [50]:
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

47. 다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.

a = "hello world"

In [52]:
a = "hello world"
print(a.split())

['hello', 'world']

48. 다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.

ticker = "btc_krw"

In [53]:
ticker = "btc_krw"
print(ticker.split("_"))

['btc', 'krw']

49. 다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.

date = "2020-05-01"

In [55]:
date = "2020-05-01"
print(date.split("-"))

['2020', '05', '01']

50. 문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.

data = "039490     "

In [57]:
data = "039490     "
data = data.rstrip()
print(data)

039490