# 파이썬 함수

In [9]:
#201
def print_coin():
    print("비트코인")

print_coin()

비트코인

In [10]:
#202
print_coin()

비트코인

In [ ]:
#203
for i in range(100):
    print_coin()

In [ ]:
#204
def print_coin():
    for i in range(100):
        print("비트코인")
        
print_coin()

In [13]:
#205
#hello()라는 함수가 정의되기 전에 실행되어서 def로 hello() 함수가 정의된 다음에 그 아래에 hello()를 실행하면 에러가 발생하지 않음

In [14]:
#206
#A
#B
#C
#A
#B

In [15]:
#207
#A
#C
#B

In [16]:
#208
#A
#C
#B
#E
#D

In [17]:
#209
#B
#A

In [18]:
#210
#B
#C
#B
#C
#B
#C
#A

In [19]:
#211
#"안녕"
#"Hi"

In [20]:
#212
#7
#15

In [21]:
#213
#입력값이 필요한 함수라 입력값을 넣어주지 않아 오류가 남

In [22]:
#214
#문자열과 숫자는 서로 더 할 수 없음. 같은 타입으로 변수를 바꿔줘야 함

In [25]:
#215
def print_with_smile(변수):
    print(변수+":D")

In [26]:
#216
print_with_smile("안녕하세요")

안녕하세요:D

In [28]:
#217
def print_upper_price(가격):
    print(가격*1.3)

print_upper_price(100)

130.0

In [29]:
#218
def print_sum(a,b):
    print(a+b)
    
print_sum(5,6)

11

In [30]:
#219
def print_arithmetic_operation(a, b):
    print(f"{a} + {b} =", a+b)
    print(f"{a} - {b} =", a-b)
    print(f"{a} * {b} =", a*b)
    print(f"{a} / {b} =", a/b)
    
print_arithmetic_operation(3, 4)

3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75

In [31]:
#220
def print_max(a, b, c):
    if a>= b and a >= c:
        print(a)
    elif b>=a and b>=c:
        print(b)
    else:
        print(c)

print_max(1, 2, 3)

3

In [32]:
#220 정답
def print_max(a, b, c):
    max_val = 0
    if a > max_val:
        max_val = a
    if b > max_val:
        max_val = b
    if c > max_val:
        max_val = c
    print(max_val)

print_max(4,3,9)

9

In [34]:
#221
def print_reverse(string):
    print(string[::-1])
print_reverse("python")

nohtyp

In [36]:
#222
def print_score(score_list):
    print(sum(score_list)/len(score_list))
print_score([1,2,3])

2.0

In [37]:
#223
def print_even(num_list):
    for i in num_list:
        if i % 2 == 0:
            print(i)

print_even([1,3,2,10,12,11,15])

2
10
12

In [40]:
#224
def print_keys(dict_list):
    for keys in dict_list.keys():
        print(keys)
print_keys({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

In [44]:
#225
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

def print_value_by_key(a, b):
        print(a[b])
print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

In [46]:
#226
def print_5xn(string):
    a = int(len(string)/5)
    for i in range(a+1):
        print(string[i*5:i*5+5])
print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

In [1]:
#227
def printmxn(string, a):
    b = int(len(string)/a)
    for i in range(b+1):
        print(string[i*a:i*a+a])
printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

In [2]:
#228
def calc_monthly_salary(annual_salary):
    a = int(annual_salary/12)
    return a

calc_monthly_salary(12000000)

1000000

In [3]:
#229
#왼쪽 : 100
#오른쪽 : 200

In [4]:
#230
#왼쪽 : 200
#오른쪽 : 100

In [5]:
#231
#에러가 남. result는 로컬 변수이기 때문에 글로벌 영역에서 표시 되지 않음.
#return을 사용하면 글로벌 영역에서 사용할 수 있음

In [11]:
#232
def make_url(a):
    return f"www.{a}.com"
    
make_url("naver")

'www.naver.com'

In [16]:
#233
def make_list(string):
    return list(string)

make_list("abcd")

['a', 'b', 'c', 'd']

In [17]:
#234
def pickup_even(num_list):
    even_list = []
    for i in num_list:
        if i % 2 == 0:
            even_list.append(i)
    return even_list

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

In [19]:
#235
def convert_int(string_num):
    return int(string_num.replace(",",""))

convert_int("1,234,567")

1234567

In [20]:
#236
#22

In [21]:
#237
#22

In [22]:
#238
#140

In [23]:
#239
#16

In [24]:
#240
#28